*{
    box-sizing: border-box;
}

body{
    width: 90%;
    height: 100vh;
    background-color: aqua;
   
}


header{
    font-size: calc(10px + 2vw);
    width:90vw
}

.navBar{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: aquamarine;
    padding: 1em;
    max-width: 90vw;
}

.navBar a{
    color:red;
    text-decoration: none;
    font-size: calc(18px + 0.5vw);
    width: 90vw;

}
main{
    width: 100%;
    text-align: center;
}

section{
    /* background-color: blueviolet; */
    margin-top: 100px;
}
#threeD {
   
    border: 10px green solid;
    background-color: rgb(195, 45, 45);
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* .threee{
    display: none;
  
} */
video{
    background-color: black;
    width: 50vw;
}






div{
    color: azure;
}
/*add class in js when click in image/button for making backgroud which will be blur 
and has x for closing viewport 3D*/
.appear{
    display: block;
    background-color: rgba(11, 11, 11, 0.9);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;

}

/*class will add when click on image/button to display
3d viewport for 3d models*/
.viewThree{
    display: block;
    z-index: 20;
    position: fixed;
    top:20vh;
    width:100vw;
}

footer ,header{
    background-color: rgba(7, 209, 142, 0.707);
    width: 90vw;
    padding: 2vh 0 ;
    text-align: center;

}


@media screen and (max-width:600px){
    nav{
        width: 100%;
        padding: 10px;
    }

    .navBar{
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        
    }
    ul li{
        padding: 0.5rem;
        background-color: azure;
        width: 93vw;
        text-align: center;
        border-bottom: 1px green solid ;
    }

    body{

        width:94vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section{
        width: 80vw;
    }

    video{
        width: 80vw;
    }

    h3{
        margin-bottom: 100px;

    }

    #threeD{
        width: 80vw;
    }

    
    
}

